body {
	font-family: Verdana;
	font-size: 10pt;
}
canvas.my-canvas {
	border: 1px solid #000;
	background-color: #080;
	float: left;
}
div.my-legend {
	margin-left: 15px;
	float: left;
	width: 200px;
}